* {
    margin: 0;
}
body {
    background-color: #2A222D;
    height: 100vh;
    display: grid;
    grid-template-rows: 85% 15%;
}

.loading-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 10px;
    margin-top: 24px;
  }
  
  .rose {
    font-size: 2rem;
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
  }
  
  #rose1 {
    animation-delay: 0s;
  }
  
  #rose2 {
    animation-delay: 0.5s;
  }
  
  #rose3 {
    animation-delay: 1s;
  }
  
  #rose4 {
    animation-delay: 1.5s;
  }
  
  #rose5 {
    animation-delay: 2s;
  }

  #rose6 {
    animation-delay: 2.5s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }